.bar-admin-product{ /*การจัด side bar ของ admin*/
    display: block;
    float: left;
    margin-left: 50px;
    margin-bottom: 100px;
    text-align: left;
}
section.hero-admin-product ul{ /*ให้ ul ไม่มีรูปแบบ*/
    list-style: none;
}
section.hero-admin-product li{ /*ขยับ side bar*/
    margin-bottom: 30px;
}
section.hero-admin-product p{ /*ขยับข้อความและเป็นตัวหนา*/
    margin-bottom: 30px;
    font-weight: bold;
}
section.hero-admin-product a{ /*รูปแบบตัวอักษรสีขาวและไม่มีเส้นใต้*/
    display: block;
    text-decoration: none;
    color:white;
}
section.hero-admin-product a:hover{ /*เปลี่ยนรูปแบบเมื่อเอาเมาส์จ่อเป็นtextสีส้ม*/
    display: block;
    text-decoration: none;
    color: #fba906;
    background-color:rgb(35, 33, 33);
    line-height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 5px solid #fba906;
}
.features { /*ความกว้าง features*/
    width: 100%;
}
span{ /*เปลี่ยนtextเป็นสีแดง*/
    color: red;
}
.hero-admin-product { /*เพิ่มขอบเนื้อหา*/
    padding: 6rem 0;
}
