nav a:hover{ /*การจ่อปุ่ม nav-bar*/
    text-decoration: none;
    color: #fba906;
}
.hero-add-product { /*การแสดงเนื้อหาตรงกลาง*/
    display: flex;
    padding: 50px;
    justify-content: center;
}
img.upload{ /*รูปในส่วนของการอัพโหลดทั้งขนาด,ความพอดี และตำแหน่ง*/
    width: 450px;
    height: 450px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}
fieldset{ /*การจัดชุดการกรอกข้อมูล*/
    width: 500px;
    height: 340px;
    text-align: left;
    border: none;
}
legend{ /*หัวข้อ fieldset ชิดฝั่งซ้าย*/
    text-align: left;
}
input{ /*ปรับปุ่ม input*/
    width: 200px;
    margin-bottom: 1rem;
}
textarea{ /*การจัด text box*/
    width: 300px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1.title{ /*หัวข้อของหน้าเว็บ*/
    padding: 20px;
    text-align: center;
}
label{ /*ปุ่มอัพโหลด*/
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    background-color:rgb(46, 116, 116);
    margin-left: 100px;
    font-weight: bold;
    cursor: pointer;
}
div.content{ /*จัดเนื้อหา*/
    text-align: center;
}
.bar-admin-product{ /*การจัด side bar ของ admin*/
    display: block;
    float: left;
    margin-left: 50px;
    margin-bottom: 100px;
    text-align: left;
}
section.hero-add-product ul{ /*ให้ ul ไม่มีรูปแบบ*/
    list-style: none;
}
section.hero-add-product li{ /*ขยับ side bar*/
    margin-bottom: 30px;
}
section.hero-add-product p{ /*ขยับข้อความและเป็นตัวหนา*/
    margin-bottom: 30px;
    font-weight: bold;
}
section.hero-add-product a{ /*รูปแบบตัวอักษรสีขาวและไม่มีเส้นใต้*/
    text-decoration: none;
    color:white;
}
section.hero-add-product a:hover{ /*เปลี่ยนรูปแบบเมื่อเอาเมาส์จ่อเป็นtextสีส้ม*/
    display: block;
    text-decoration: none;
    color: #fba906;
}
span.red{ /*เปลี่ยนtextเป็นสีแดง*/
    color: red;
}