/* กำหนด margin และ padding ของตัว body */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* กำหนดฟอนต์, สีพื้นหลังและสีฟอนต์ของตัว body */
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
}

/* กำหนดสีพื้นหลังและ padding ของ body */
header{
    background-color: #010056;
    padding: 30px;
    
}

/* กำหนดฟอนต์และสีและ margin ของ class logo*/
.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #fba906;
    margin-left: 0%;
}

/* กำหนดคุณสมบัติของ nav ul ซึ่งเป็นในส่วนของ Navigation bar ได้แก่ list-style, display, align-items */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/* กำหนดคุณสมบัติของ nav li ซึ่งเป็นในส่วนของ Navigation bar ให้มี margin ห่างจากด้านขวา 1.5rem*/
nav li {
    margin-right: 1.5rem;
}

/* ตกแต่งตัวอักษรของ navigation bar โดยลบเส้นใต้ในส่วนของลิงค์ a และเปลี่ยนสีฟอนต์*/
nav a{
    text-decoration: none;
    color: white;
}

/* เพิ่มระยะห่าง padding ด้านล่างของ navigation bar*/
nav {
    padding-bottom: 10px;
}
/* ตกแต่งตัวอักษรของ navigation bar โดยลบเส้นใต้และเปลี่ยนสีฟอนต์ขณะเอาเมาส์ไปวาง*/
nav a:hover{
    text-decoration: none;
    color: #fba906;
}

/* กำหนดคุณสมบัติของ footer เช่น postition, กว้าง, ยาว, สีพื้นหลัง */
footer{
    position: static;
    width: 100%;
    height : 80px;
    bottom : 0px;
    text-align: left;
    padding: 50px;
    background-color: #010056;
    margin-top: 20%;
}

/* กำหนดรูปภาพของสินค้าใน Column หรือ Item ใน Container */
img{
    width: 50px;
    height: 50px;
}

/* กำหนด ul ซึ่งใน Search_page จะเป็นในส่วนของ dropdown button ของ Sort by */
ul{
    float: right;
}

/* กำหนด Class SearchBox ซึ่งคือส่วนของพื้นที่สำหรับใส่ กล่อง Search และปุ่ม */
.SearchBox{
    margin: auto;
    padding-top: 2%;
    width: 650;
    height: auto;
    background-color: aliceblue;
    color: black;
}

/* กำหนดขนาดส่วนของกล่อง Input สำหรับการพิมพ์ Search */
#txtProduct{
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}

/* กำหนดขนาดและสีของปุ่ม Search */
#SubmitButton{
    width: 10%;
    background-color: white;
}

/* กำหนดสีขณะเอา Cursor ไปวางบนปุ่ม Search */
#SubmitButton:hover{
    background-color: #cccccc;
}

/* กำหนดสีขณะคลิกไปที่ปุ่ม Search บนปุ่ม Search */
#SubmitButton:active{
    background-color: white;
}

/* กำหนดสี Font และระยะห่างระหว่างตัวอักษรกับขอบด้านล่างของชื่อ Find Your Tools บนกล่อง Search */
#SearchHeading{
    color: black;
    padding-bottom: 4%;
}

/* กำหนด Font, ระยะห่างระหว่างขอบและอักษร และความโค้งของขอบของ Search Bar และ Search Button */
#txtProduct, #SubmitButton{
    font-size: large;
    padding: 10px;
    border-radius: 10px;
}

/* กำหนดคุณสมบัติของ Search Bar */
div.SearchBar{
    text-align: center;
    margin-bottom: 4px;
}

/* กำหนดคุณสมบัติในส่วนของหัวข้อคำว่า Category  */
h3#CategoryHead{
    color: black;
    font-size: 30px;
}

/* กำหนด font สำหรับลิงค์ไปยังหน้า Category ของอุปกรณ์แต่ละอย่าง */
a#Category{
    text-decoration: none;
    color: #010056;
    font-size: 25px;
}

/* กำหนด font สำหรับตอนนำเมาส์ไปวางบนหัวข้อแต่ละ Category */
a#Category:hover{
    color: #fba906;
    font-size: 30px;
}

/* กำหนดคุณสมบัติของกล่อง Sidebar ทั้ง Margin, Padding ความกว้าง เป็นต้น */
.sidebar {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-left: 15%;
    padding-left: 15px;
    width: 300px;
    background-color: #fff;
    position: absolute;
    height: 80%;
    overflow: auto;
    border: #010056 solid;
    margin-top: 50px;
}

/* กำหนดให้มีขอบล่างเพื่อเน้นหัวข้อการจัดหมวดหมู่ของ Sidebar */
h3#CategoryHead{
    border-bottom: #010056 solid;
    border-width: 5px;
}

/* กำหนดคุณสมบัติของ flex box ที่ใช้แสดงสินค้าทั้งหมด */
div.content {
    justify-content:space-evenly; 
    gap: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 35%;
    padding: 1px 16px;
    align-items: flex-start;
    width: 90%;
    color:white;
}

/* กำหนดคุณสมบัติของกล่องสินค้าแต่ละกล่อง */
div.column{
    display: block;
    border: gray solid;
    background-color: #010056;
    width: 220px;
    height:350px;
    margin-top: 2%;
    border-radius: 10px;
}

/* กำหนดคุณสมบัติของรูปสินค้าที่แสดง */
img.productimg{
    margin-top: 10px ;
    width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 200px
}


/* กำหนดคุณสมบัติของ Font ชื่อสินค้า ราคาสินค้า และปุ่มสั่งซื้อสินค้า */
h3#producthead, h4#price, h4#buybutton{
    text-align: center;
    margin: 0%;
    margin-left:5px ;
}

/* กำหนดคุณสมบัติสำหรับ Font ของราคา คือสีฟอนต์และขนาดฟอนต์ */
#price{
    color: #fba906;
    font-size: 20px;
}

/* กำหนดคุณสมบัติสำหรับกล่องสำหรับกดสั่งซื้อสินค้า */
#buybutton{
    margin-top: 10%;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}

/* กำหนด Font และคุณสมบัติของปุ่มสั่งซื้อสินค้า */
#Buy{
    background-color: #fba906;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color:black;
    border-radius: 5px;
}

/* กำหนดเพื่อให้เพื่อให้ส่วนแสดงสินค้าไม่เปลี่ยนไปตามขนาดจอ */
div {
    max-width: 768px;
    max-height: 1024px;
    margin: auto;
    display: block;
  }

/* กำหนดให้กล่องส่วนแสดงหน้าปัจจุบันที่อยู่บน Container แสดงสินค้าไปอยู่ด้านขวา */
.heading_content{
    text-align: right;    
}  

/* กำหนดกล่องของส่วนหัวก่อนแสดงสินค้า ซึ่งจะระบุว่าขณะนี้ผู้ใช้อยู่หน้าไหน */
span#currentpage{
    background-color: #010056;
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    color:white;
  }

/*กำหนดคุณสมบัติ Dropdown box เรียงลำดับ*/
.dropdown {
    display: inline-block;
    position: relative;
    color: black;
  }

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown */
.dd-button {
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: white;
    cursor: pointer;
    white-space: nowrap;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดให้เพิ่มลูกศรชิ้ลง */
.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border: black;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อนำ Checkbox ออก */
.dd-input {
    display: none;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อทำกล่องตอนกดให้ Dropdown */
.dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    text-align: left;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อซ่อนกล่อง List ที่ผู้ใช้จะเลือกในการจัดเรียง*/
.dd-input + .dd-menu {
    display: none;
} 

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อแสดงListของ Dropdown Box*/
.dd-input:checked + .dd-menu {
    display: block;
} 

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อกำหนดคุณสมบัติของกล่อง List เวลากด Dropdown Box*/
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}
 
/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อกำหนดสีของกล่อง List เวลาเอาเมาส์วางบน List ของ Dropdown Box*/
.dd-menu li:hover {
    background-color: #f6f6f6;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อกำหนดคุณสมบัติของกล่อง Dropdown Box*/
.dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
}

/* กำหนดคุณสมบัติของปุ่ม Sort By ซึ่งเป็น Dropdown โดยกำหนดเพื่อกำหนดคุณสมบัติของกล่อง List ของ Dropdown Box*/
.dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
}

/*Sort box ตาม id เรียงจากราคามากไปน้อย,อัพเดตล่าสุด, เรียงจากราคาน้อยไปมาก  */
a#SortHightoLow, a#Lastest, a#SortLowtoHigh{
    text-decoration: none;
    color: black;
}

/* ใช้ตกแต่ง เปลี่ยนสี และขนาดฟอนต์ของส่วนเลือก brand ข้าง sidebar */
a#Category2{
    text-decoration: none;
    color: #010056;
    font-size: 25px;
}

/* ใช้ตกแต่ง เปลี่ยนสี และขนาดฟอนต์ของส่วนเลือก brand ข้าง sidebar ขณะกำลังเอาเมาส์ไปวาง*/
a#Category2:hover{
    color: #fba906;
    font-size: 30px;
}

