body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #010056;
    padding: 30px;
    flex-shrink: 0;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #fba906;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 1.5rem;
}

nav a{
    text-decoration: none;
    color: white;
}
nav {
    padding-bottom: 10px;
}
nav a:hover{
    text-decoration: none;
    color: #fba906;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
footer {
    text-align: left;
    padding: 50px;
    background-color: #010056;
    flex-shrink: 0;
}
img{
    width: 50px;
    height: 50px;
}
ul{
    float: right;
}

.hover-effect:hover{
    color: #fba906;
    cursor: pointer;
}

h4{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.setting {
    color: #fff;
    text-align: left;
    background-color: grey;
    padding: 10px;
    width: 200px;
}
/* สร้างตารางเพื่อใส่ข้อมูล */
table {
    width: 100%;
    border-collapse: collapse;
    margin-left: 40%;
    margin-top: 10%;
    
}
table, th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    
}
h4{
    margin-left: 20px;
}
/* แต่งปุ่มลบและแก้ไข */
button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #005F7D;
}
.edit-button {
    background-color: #4CAF50;
}
.edit-button:hover {
    background-color: #45a049;
  
}
a{
    text-decoration: none;
    color: #fff;
}

main{
    display: flex;
    flex: 1;
}

.search-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.search-container input, .search-container button {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
}


.search-container button {
    cursor: pointer;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 4px;
}
