body, h1, h2, p, ul, li, h3{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: #010056;
    padding: 30px;
    flex-shrink: 0;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: #fba906;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 1.5rem;
}

nav a{
    text-decoration: none;
    color: white;
}
nav {
    padding-bottom: 10px;
}
nav a:hover{
    text-decoration: none;
    color: #fba906;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.cta-button {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: #FFA500;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
footer {
    text-align: left;
    padding: 50px;
    background-color: #010056;
    flex-shrink: 0;
}
img{
    width: 50px;
    height: 50px;
}
ul{
    float: right;
}

.hover-effect:hover{
    color: #fba906;
    cursor: pointer;
}

h4{
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.setting {
    color: #fff;
    text-align: left;
    background-color: grey;
    padding: 10px;
    width: 200px;
    display: block;
}

main{
    display: flex;
    flex: 1;
}

.search-container{
   flex-direction: column;
   display: flex;
   margin-left: 20px;
   max-width: 230px;
}

.search-container input {
    font-size: 16px;
}

button {
    cursor: pointer;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    margin-top: 4px;
}

.but{
    margin-top: 32px;
}

h3{
    margin-top: 5%;
}

section{
    display: flex;
    flex-direction: column;
}